.home {
    margin-top: 70px;
    // position: absolute;
    width: 100vw;
    animation-name:floatfade ;
    animation-duration: 0.5s;
    background-color: hsla(0, 0%, 100%, 0.2);
    @keyframes floatfade {
        0% {margin-top:0px;opacity: 0%;}
        100% {margin-top:70px;opacity: 100%;}
    }    
}

.container {
    max-width: 1200px;
}
.section-title {
    width: 100%;
    font-family:'Open Sans', sans-serif;
    font-size: large;
    font-weight: 400;
    margin: 0;
    letter-spacing: 2px;
    margin-bottom: 2em;
    text-align: center;
    background-color:rgba(135, 207, 255, 0.2);
    -webkit-backdrop-filter:saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
}
.services {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.projects-div {
    
    .projects-home {
        // padding: 50px 0 50px 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}
.flagholder {
    // position: absolute;
    // background-color: skyblue;
    box-shadow: 4px 4px 10px grey;
    overflow: hidden;
    .background-image{
        width: 200px;
        height: 300px;
    }
    
    &:hover {
        cursor: pointer;
        & .background-image {
          transform: scale(1.1);
          transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }
}

@media screen and (max-width:800px) {
    .vision {
        .vision-title{
            font-size: x-large;
        }
    }
    .cell {
        margin: 5em 0;
    }
}