.grid-cell {
    display: flex;
    max-width: 1104px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (max-width:800px) {
    .grid-cell {
        justify-content: center;
    }
}